
.RoomList-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	align-content: center;
}

.makeRoom-box{
	width:100%
}

.makeRoom {
	margin-left: 80%;
	margin-bottom: 0.5rem;
}

.RoomList {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 3px 3px 3px 3px;
	width: 80%;
	height: 70%;
}


.Join-button {
	margin-top: 1rem;
}