#userList{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.userIcon{
	flex: 1 9;
}

.icon{
	background-color: white;
	margin: 0.2rem;
	border-radius: 20px 20px 20px 20px;

}

.userInfo{
	flex: 9 1;
}

.id{
	font-size: 1rem;
	color: white;
	font-weight: bold;
	margin-top: 0.3rem;
}

.room{
	font-size: 1rem;
	color: green;
	font-weight: bold;
}