.top{
	height: 3rem;
	background-color: rgb(17, 79, 150);
	border-bottom: 1px solid skyblue;
	text-align: right;
	overflow: hidden;
	
	.MyID{
		font-size: 28px;
		display: inline-block;
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.myIcon{
		border-radius:50%;
		width:2.8rem;
		height:2.8rem;
		background-color: white;
		margin-bottom:2.5rem;
		margin-left:3px;
		vertical-align: middle;
		line-height: 1px;
	}
}

.bottom{
	margin-left: 3px;

	.title{
		font-size: 1.5rem;
		margin-top: 10px;
	}
	.user-btn{
		margin-left: 5px;
		border: none;
		background-color: rgb(41, 59, 92);
		color: white;

		.user-icon{
			border-radius:50%;
			width:2rem;
			height:2rem;
			background-color: white;
			margin-bottom:0.3rem;
			vertical-align: middle;
			line-height: 1px;
		}

		.userState{
			font-size:	3rem;
			line-height: 1px;
			vertical-align: middle;
		}
		.online{
			color: rgb(22, 255, 41);
		}
		.offline{
			color: rgb(180,180,180);
		}
		.gaming{
			color: rgb(0, 200, 255);
		}
	}

	.button {
		padding: 4px 10px;
		margin-bottom: 15px;
		margin-top: 0.5rem;
		color: rgb(53, 86, 155);
		background-color: rgba(46, 125, 179, 0.315);
		border-radius: 5px;
		border: 2px solid rgba(151, 205, 241, 0.767);
		font-size: 15px;
	}


	.chat{
		display: inline-flex;
		flex-direction: row;
		width:100%;

		.chat-btn{
			flex: 9 1;
			text-align: left;
			margin-left: 5px;
			border: none;
			background-color: rgb(41, 59, 92);
			color: white;
			margin-bottom: 0.5rem;
			overflow: hidden;

			.chatNum{
				border-radius:30%;
				border: 2px solid white;
				font-size: 15px;
				padding: 4px;
				padding-left: 8px;
				padding-right: 8px;
				background-color: rgb(0, 119, 255);
			}

		}
		.chatLeave{
			flex: 1 9;
			border: none;
			background-color: rgb(41, 59, 92);
			color: red;
			font-size: 20px;
			text-align: right;
		}
	}
}